<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kmbeast.mapper.CategoryMapper">

    <insert id="save">
        INSERT INTO category (name, is_use, parent_id)
        VALUES (#{name}, #{isUse}, #{parentId})
    </insert>

    <update id="update">
        UPDATE category
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="isUse != null">is_use = #{isUse},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="batchDelete" parameterType="list">
        DELETE FROM category WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>

    </delete>

    <!--分页查询用户信息-->
    <select id="query" resultMap="BaseResultMap">

        SELECT c.*
        FROM category c
        <where>
            <if test="name != null and name != ''">
                AND c.name LIKE concat('%',#{name},'%')
            </if>

            <if test="isUse != null">
                AND c.is_use = #{isUse}
            </if>
            <if test="parentId != null">
                AND c.parent_id = #{parentId}
            </if>
        </where>

        ORDER BY c.id ASC
        <if test="current != null and size != null">
            LIMIT #{current},#{size}
        </if>

    </select>

    <select id="queryCount" resultType="integer">
        SELECT COUNT(*)
        FROM category c
        <where>
            <if test="name != null and name != ''">
                AND c.name LIKE concat('%',#{name},'%')
            </if>
            <if test="isUse != null">
                AND c.is_use = #{isUse}
            </if>
            <if test="parentId != null">
                AND c.parent_id = #{parentId}
            </if>
        </where>
    </select>

    <resultMap id="BaseResultMap" type="cn.kmbeast.pojo.entity.Category">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="is_use" property="isUse"/>
        <result column="parent_id" property="parentId"/>
    </resultMap>


</mapper>
